#rotate {
  -webkit-transform: rotate(10deg);
  background-color: blue;
}

#skew {
  transform: skew(10deg,10deg);
  background-color: orange;
}

#all {
  transform: rotate(20deg);
  transform: skewY(-20deg);
  background-color: red;
}

@keyframes animate {
  
}